<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Siemens.Automation.ModAppCreator.Core" publicKeyToken="a9c97c5d7d58abea" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-99.0.0.0" newVersion="20.1.6.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Siemens.Automation.ModAppCreator.Basics" publicKeyToken="a9c97c5d7d58abea" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-99.0.0.0" newVersion="20.1.6.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
